# node_modules and build files
node_modules
.next
out
build
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# OS files
.DS_Store
Thumbs.db
